# Global ignores
.DS_Store
Thumbs.db
node_modules/
target/
.idea/
.vscode/
*.log
.env

# Ignore for backend (Spring Boot in 'be' folder)
ToolsLibrary-be/target/
ToolsLibrary-be/.mvn/
ToolsLibrary-be/.idea/
ToolsLibrary-be/.classpath
ToolsLibrary-be/.project
ToolsLibrary-be/.settings/
ToolsLibrary-be/mvnw
ToolsLibrary-be/mvnw.cmd
ToolsLibrary-be/*.iml
ToolsLibrary-be/logs/
ToolsLibrary-be/tmp/
ToolsLibrary-be/.env
ToolsLibrary-be/.cache/
ToolsLibrary-be/db/
ToolsLibrary-be/*.log
ToolsLibrary-be/*.jar
ToolsLibrary-be/*.war
ToolsLibrary-be/application-*.yml
ToolsLibrary-be/application.properties

# Ignore for frontend (React in 'fe' folder)
ToolsLibrary-fe/node_modules/
ToolsLibrary-fe/.pnp/
ToolsLibrary-fe/.pnp.js
ToolsLibrary-fe/build/
ToolsLibrary-fe/dist/
ToolsLibrary-fe/.env.local
ToolsLibrary-fe/.next/
ToolsLibrary-fe/out/
ToolsLibrary-fe/coverage/
ToolsLibrary-fe/yarn-error.log
ToolsLibrary-fe/.parcel-cache/
ToolsLibrary-fe/.eslintcache
ToolsLibrary-fe/.turbo/
ToolsLibrary-fe/npm-debug.log*
ToolsLibrary-fe/yarn-debug.log*
ToolsLibrary-fe/yarn-error.log*
ToolsLibrary-fe/.cache/
